.card{
    border: 2px solid grey;
    max-width: fit-content;
    padding: 15px;
    border-radius: 15px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.openForm{
    padding: 10px;
}

button{
    padding: 5px;
}